In [234]:
import nltk
import os
from os import getcwd
import numpy as np
import pandas as pd
import re
from collections import Counter

# pakage to convert corps to token
from nltk.tokenize import word_tokenize
# pakage to remove any stop word 
from nltk.corpus import stopwords
# pakage to make lemmataiztion
from nltk.stem import WordNetLemmatizer 
# pakage to make stemming of token  
from nltk.stem import PorterStemmer 

from nltk.stem.lancaster import LancasterStemmer

In [235]:
#----------------------------------------------#
#---------- Preprocessing Section -------------#

# this function is remove stop words like (a ,an ,the ,is , are, etc ...)
# def remove_stop_words(tokens):
#     stop_words =set(stopwords.words('english'))
#     result_tokens = []
#     for token in tokens:
#         if token not in stop_words:
#             result_tokens.append(token)
#     return result_tokens
#---------------------------------------------#
# applay of each token stemming and lemmtizing method
def stemming_lemmitization(tokens):
    stemmer =PorterStemmer()
    lemmatizer =WordNetLemmatizer()
    result_tokens =[]
    for token in tokens:
        token =lemmatizer.lemmatize(token)
        # token = stemmer.stem(token)
        if len(token) > 1:
            result_tokens.append(token)
    return result_tokens
#---------------------------------------------#
# this function is remove any pattern of link or email or \n and etc ...
def removePatterns(corpus):    
    patterns = ['URL', '@USER', '\'ve', 'n\'t', '\'s', '\'m']
    for pattern in patterns:
        corpus = corpus.replace(pattern, '')
    return re.sub(r'[^a-zA-Z]', ' ', corpus)
#---------------------------------------------#

In [236]:
#---------------------------------------------#
#---------- print document in files ----------#
dirFiles = os.listdir('C:\\Users\\mahmoud0020\\Desktop\\IR_Final\\DataSets\\')
# print(sorted(dirFiles))
print(dirFiles)

['0.txt', '1.txt', '2.txt', '3.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [237]:
# ---------Read Document Collection -----------#
# read files from disk
dirFiles = os.listdir('C:\\Users\\mahmoud0020\\Desktop\\IR_Final\\DataSets');
list_of_corpus =[]
result_tokens =[]
for file in dirFiles :
    single_file =open('C:\\Users\\mahmoud0020\\Desktop\\IR_Final\\DataSets\\'+file,'r');
    for line in single_file:
        
        list_of_corpus.append(line)
        # remove any pattern like URL or Email or etc...
        corpus = removePatterns(line)
        # convert corpus to tokens 
        corpus = word_tokenize(corpus.lower())
        # remove stop_words like (a- and -the or etc...)
#         tokens = remove_stop_words(corpus)
        # make stemming and lemmitization of tokens 
        tokens = stemming_lemmitization(corpus)
        # save result of tokens 
        result_tokens.append(tokens)
    single_file.close()
print(len(result_tokens))
for i in range(len(result_tokens)):
    print(result_tokens[i])
    print("---------------------------------------------------------------------------------------------")

10
['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser']
---------------------------------------------------------------------------------------------
['antony', 'brutus', 'caeser', 'calpurnia']
---------------------------------------------------------------------------------------------
['mercy', 'worser']
---------------------------------------------------------------------------------------------
['brutus', 'caeser', 'mercy', 'worser']
---------------------------------------------------------------------------------------------
['caeser', 'mercy', 'worser']
---------------------------------------------------------------------------------------------
['antony', 'caeser', 'mercy']
---------------------------------------------------------------------------------------------
['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
---------------------------------------------------------------------------------------------
['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
---------------------------------------------------------------------------------------------
['angel', 'fool', 'in', 'rush', 'to', 'tread', 'where']
---------------------------------------------------------------------------------------------
['fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
---------------------------------------------------------------------------------------------

In [238]:
#----------------------------------------------#
#-------------- Positional Index --------------#
fileNumber = 0;
# this is dictionary structure 
postional_index ={}
# the file mapping (fileNumber -->{ file name })
file_map={}

for corpus in result_tokens:
    for postion,term in enumerate(corpus):
        # check if the term already exists in the positonal index dictionary.
        if term in postional_index:
            # increment total frequency by 1 
            postional_index[term][0] = postional_index[term][0]+1
            # check if the term has found in DocumentID before
            if fileNumber in postional_index[term][1]:
                postional_index[term][1][fileNumber].append(postion)
            else:
                postional_index[term][1][fileNumber]=[postion]
        # if the term does not exist in the postional index dictionary 
        # (first encounter)
        else:
            # empty the list 
            postional_index[term]=[]
            # total frequency is 1 
            postional_index[term].append(1)
            # the posting list is intially empty 
            postional_index[term].append({})
            # add document ID to posting list.
            postional_index[term][1][fileNumber]=[postion]
    # map the filenumber to the filename.
    file_map[fileNumber] = corpus
    # increment file number to next document 
    fileNumber+=1
#-----print result of Postional index -----#
sample_pos_idx = postional_index["worser"]
print("Positional Index") 
print("[Term { docID : [Postion]}]")
print(sample_pos_idx) 
sampe_pos_idx =postional_index["angel"]
file_list = sample_pos_idx[1] 

print("Filename, [Positions]") 
for fileno, positions in file_list.items(): 
    print(dirFiles[fileno],"   ", positions)

Positional Index
[Term { docID : [Postion]}]
[4, {0: [5], 2: [1], 3: [3], 4: [2]}]
Filename, [Positions]
0.txt     [5]
2.txt     [1]
3.txt     [3]
4.txt     [2]

In [239]:
doc0 = result_tokens[0]
doc1 = result_tokens[1]
doc2 = result_tokens[2]
doc3 = result_tokens[3]
doc4 = result_tokens[4]
doc5 = result_tokens[5]
doc6 = result_tokens[6]
doc7 = result_tokens[7]
doc8 = result_tokens[8]
doc9 = result_tokens[9]

In [240]:

print(doc1)

['antony', 'brutus', 'caeser', 'calpurnia']

In [241]:
wordSet = set(doc0).union(set(doc1)).union(set(doc2)).union(set(doc3)).union(set(doc4)).union(set(doc5)).union(set(doc6)).union(set(doc7)).union(set(doc8)).union(set(doc9))

In [242]:
print(wordSet)

{'rush', 'antony', 'worser', 'cleopatra', 'brutus', 'calpurnia', 'to', 'where', 'caeser', 'fear', 'fool', 'in', 'tread', 'angel', 'mercy'}

In [243]:
# we want set each token with dictionary zero value 
wordDict0 = dict.fromkeys(wordSet, 0) 
wordDict1 = dict.fromkeys(wordSet, 0)
wordDict2 = dict.fromkeys(wordSet, 0) 
wordDict3 = dict.fromkeys(wordSet, 0)
wordDict4 = dict.fromkeys(wordSet, 0) 
wordDict5 = dict.fromkeys(wordSet, 0)
wordDict6 = dict.fromkeys(wordSet, 0) 
wordDict7 = dict.fromkeys(wordSet, 0)
wordDict8 = dict.fromkeys(wordSet, 0) 
wordDict9 = dict.fromkeys(wordSet, 0)

In [244]:
# increase the value of term if found in another document
#----------------------compute TF ---------------------#
for word in doc0:
    wordDict0[word]+=1
    
for word in doc1:
    wordDict1[word]+=1

for word in doc2:
    wordDict2[word]+=1
    
for word in doc3:
    wordDict3[word]+=1
    
for word in doc4:
    wordDict4[word]+=1

for word in doc5:
    wordDict5[word]+=1
    
for word in doc6:
    wordDict6[word]+=1

for word in doc7:
    wordDict7[word]+=1
    
for word in doc8:
    wordDict8[word]+=1

for word in doc9:
    wordDict9[word]+=1

# for word in query_tokens:
#     queryDict[word]+=1
# for word in wordSet:
#     for token in query_tokens:
#         if(token==word):
#             QueryDict[word]+=1

In [245]:
import pandas as pd
pd.DataFrame([wordDict0, wordDict1, wordDict2, wordDict3, wordDict4, wordDict5, wordDict6, wordDict7, wordDict8, wordDict9]).T

           0  1  2  3  4  5  6  7  8  9
rush       0  0  0  0  0  0  1  1  1  1
antony     1  1  0  0  0  1  0  0  0  0
worser     1  0  1  1  1  0  0  0  0  0
cleopatra  1  0  0  0  0  0  0  0  0  0
brutus     1  1  0  1  0  0  0  0  0  0
calpurnia  0  1  0  0  0  0  0  0  0  0
to         0  0  0  0  0  0  1  1  1  1
where      0  0  0  0  0  0  1  1  1  1
caeser     1  1  0  1  1  1  0  0  0  0
fear       0  0  0  0  0  0  1  1  0  1
fool       0  0  0  0  0  0  1  1  1  1
in         0  0  0  0  0  0  1  1  1  1
tread      0  0  0  0  0  0  1  1  1  1
angel      0  0  0  0  0  0  1  1  1  0
mercy      1  0  1  1  1  1  0  0  0  0

In [246]:
#---------------compute TF_weight-----------------#
import math
for word in doc0:
    if(wordDict0[word]>0):
        wordDict0[word]=1+math.log(wordDict0[word],10)
    
        
for word in doc1:
    if(wordDict1[word]>0):
        wordDict1[word]=1+math.log(wordDict1[word],10)
    

for word in doc2:
    if(wordDict2[word]>0):
        wordDict2[word]=1+math.log(wordDict2[word],10)
   
    
for word in doc3:
    if(wordDict3[word]>0):
        wordDict3[word]=1+math.log(wordDict3[word],10)
    
    
for word in doc4:
    if(wordDict4[word]>0):
        wordDict4[word]=1+math.log(wordDict4[word],10)
    

for word in doc5:
    if(wordDict5[word]>0):
        wordDict5[word]=1+math.log(wordDict5[word],10)

for word in doc6:
    if(wordDict6[word]>0):
        wordDict6[word]=1+math.log(wordDict6[word],10)
        
for word in doc7:
    if(wordDict7[word]>0):
        wordDict7[word]=1+math.log(wordDict7[word],10)
    
for word in doc8:
    if(wordDict8[word]>0):
        wordDict8[word]=1+math.log(wordDict8[word],10)

for word in doc9:
    if(wordDict9[word]>0):
        wordDict9[word]=1+math.log(wordDict9[word],10)
# for word in query_tokens:
#     if(QueryDict[word]>0):
#         QueryDict[word]=1+math.log(QueryDict[word],10)

In [247]:
import pandas as pd
pd.DataFrame([wordDict0, wordDict1, wordDict2, wordDict3, wordDict4, wordDict5, wordDict6, wordDict7, wordDict8, wordDict9]).T

             0    1    2    3    4    5    6    7    8    9
rush       0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
antony     1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
worser     1.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
cleopatra  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
brutus     1.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
calpurnia  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
to         0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
where      0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
caeser     1.0  1.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
fear       0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0
fool       0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
in         0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
tread      0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
angel      0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0
mercy      1.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0

In [248]:
#------------------Compute IDF ---------------------#
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    # -----compute Document Frequency ------ #
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

# #----------------compute DF -------------------------#
def Compute_DF(term,postional_index):
    result=[]
    for i in term.keys():
        try:
            
            sample_pos_idx =postional_index[i]
            result.append(len(sample_pos_idx[1].values()))
        except:
            None
    return result

result_Document_Freq =Compute_DF(wordDict0,postional_index)

print(result_Document_Freq)

[4, 3, 4, 1, 3, 1, 4, 4, 5, 3, 4, 4, 4, 3, 5]

In [249]:
idfs = computeIDF([wordDict0, wordDict1, wordDict2, wordDict3, wordDict4, wordDict5, wordDict6, wordDict7, wordDict8, wordDict9])

In [250]:
print(idfs)
pd.DataFrame(list(zip( result_Document_Freq,idfs.values())),index=idfs.keys(),columns =['DF', 'IDF'])

{'rush': 0.3979400086720376, 'antony': 0.5228787452803376, 'worser': 0.3979400086720376, 'cleopatra': 1.0, 'brutus': 0.5228787452803376, 'calpurnia': 1.0, 'to': 0.3979400086720376, 'where': 0.3979400086720376, 'caeser': 0.3010299956639812, 'fear': 0.5228787452803376, 'fool': 0.3979400086720376, 'in': 0.3979400086720376, 'tread': 0.3979400086720376, 'angel': 0.5228787452803376, 'mercy': 0.3010299956639812}

           DF       IDF
rush        4  0.397940
antony      3  0.522879
worser      4  0.397940
cleopatra   1  1.000000
brutus      3  0.522879
calpurnia   1  1.000000
to          4  0.397940
where       4  0.397940
caeser      5  0.301030
fear        3  0.522879
fool        4  0.397940
in          4  0.397940
tread       4  0.397940
angel       3  0.522879
mercy       5  0.301030

In [251]:
def computeTF_IDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [252]:
TF_Idf_Bow0 = computeTF_IDF(wordDict0, idfs)
TF_Idf_Bow1 = computeTF_IDF(wordDict1, idfs)
TF_Idf_Bow2 = computeTF_IDF(wordDict2, idfs)
TF_Idf_Bow3 = computeTF_IDF(wordDict3, idfs)
TF_Idf_Bow4 = computeTF_IDF(wordDict4, idfs)
TF_Idf_Bow5 = computeTF_IDF(wordDict5, idfs)
TF_Idf_Bow6 = computeTF_IDF(wordDict6, idfs)
TF_Idf_Bow7 = computeTF_IDF(wordDict7, idfs)
TF_Idf_Bow8 = computeTF_IDF(wordDict8, idfs)
TF_Idf_Bow9 = computeTF_IDF(wordDict9, idfs)
# TF_IDF_Query= computeTF_IDF(QueryDict, idfs)

In [253]:
#---------------compute DF(Term Document frequency )------------------#
pd.DataFrame([TF_Idf_Bow0, TF_Idf_Bow1, TF_Idf_Bow2, TF_Idf_Bow3, TF_Idf_Bow4, TF_Idf_Bow5, TF_Idf_Bow6, TF_Idf_Bow7,
              TF_Idf_Bow8, TF_Idf_Bow9]).T

,0,1,2,3,4,5,6,7,8,9
rush,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
antony,0.522879,0.522879,0.00000,0.000000,0.00000,0.522879,0.000000,0.000000,0.000000,0.000000
worser,0.397940,0.000000,0.39794,0.397940,0.39794,0.000000,0.000000,0.000000,0.000000,0.000000
cleopatra,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
brutus,0.522879,0.522879,0.00000,0.522879,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,1.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
to,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
where,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
caeser,0.301030,0.301030,0.00000,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
fear,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.000000,0.522879
fool,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
in,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
tread,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
angel,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.522879,0.000000
mercy,0.301030,0.000000,0.30103,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000

In [254]:
#----------------compute Document lenght-----------#
import math
def Get_lenght_Document(TF_IDF_values):
    sum_val=0
    temp=list(TF_IDF_values.values())
    for i in range(len(temp)):
        sum_val+=pow(temp[i],2)
    return math.sqrt(sum_val)

d0_lenght= Get_lenght_Document(TF_Idf_Bow0)
d1_lenght= Get_lenght_Document(TF_Idf_Bow1)
d2_lenght= Get_lenght_Document(TF_Idf_Bow2)
d3_lenght= Get_lenght_Document(TF_Idf_Bow3)
d4_lenght= Get_lenght_Document(TF_Idf_Bow4)
d5_lenght= Get_lenght_Document(TF_Idf_Bow5)
d6_lenght= Get_lenght_Document(TF_Idf_Bow6)
d7_lenght= Get_lenght_Document(TF_Idf_Bow7)
d8_lenght= Get_lenght_Document(TF_Idf_Bow8)
d9_lenght= Get_lenght_Document(TF_Idf_Bow9)
pd.DataFrame([d0_lenght, d1_lenght, d2_lenght, d3_lenght, d4_lenght, d5_lenght, d6_lenght, d7_lenght,
              d8_lenght, d9_lenght],columns =['Document_Length'])

   Document_Length
0         1.373462
1         1.279618
2         0.498974
3         0.782941
4         0.582747
5         0.674270
6         1.223496
7         1.223496
8         1.106137
9         1.106137

In [280]:
#-----------------normalize the TF_IDF----------------#

def Normalize_TF_IDF(TF_Idf_Bow, document_length):
    TT_IDF_normalize = {}
    for word, val in TF_Idf_Bow.items():
        try:
            
            TT_IDF_normalize[word] = val/document_length
        except:
            continue
    return TT_IDF_normalize

TF_IDF_Norm0=Normalize_TF_IDF(TF_Idf_Bow0,d0_lenght)
TF_IDF_Norm1=Normalize_TF_IDF(TF_Idf_Bow1,d1_lenght)
TF_IDF_Norm2=Normalize_TF_IDF(TF_Idf_Bow2,d2_lenght)
TF_IDF_Norm3=Normalize_TF_IDF(TF_Idf_Bow3,d3_lenght)
TF_IDF_Norm4=Normalize_TF_IDF(TF_Idf_Bow4,d4_lenght)
TF_IDF_Norm5=Normalize_TF_IDF(TF_Idf_Bow5,d5_lenght)
TF_IDF_Norm6=Normalize_TF_IDF(TF_Idf_Bow6,d6_lenght)
TF_IDF_Norm7=Normalize_TF_IDF(TF_Idf_Bow7,d7_lenght)
TF_IDF_Norm8=Normalize_TF_IDF(TF_Idf_Bow8,d8_lenght)
TF_IDF_Norm9=Normalize_TF_IDF(TF_Idf_Bow9,d9_lenght)

In [281]:
#----------------print TF_IDF_Normalization-------------------#
pd.DataFrame([TF_IDF_Norm0, TF_IDF_Norm1, TF_IDF_Norm2, TF_IDF_Norm3, TF_IDF_Norm4, TF_IDF_Norm5, TF_IDF_Norm6, TF_IDF_Norm7,
              TF_IDF_Norm8, TF_IDF_Norm9]).T

,0,1,2,3,4,5,6,7,8,9
rush,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
antony,0.380701,0.408621,0.000000,0.000000,0.000000,0.775474,0.000000,0.000000,0.000000,0.000000
worser,0.289735,0.000000,0.797516,0.508263,0.682869,0.000000,0.000000,0.000000,0.000000,0.000000
cleopatra,0.728087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
brutus,0.380701,0.408621,0.000000,0.667839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,0.781483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
to,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
where,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
caeser,0.219176,0.235250,0.000000,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
fear,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.000000,0.472707
fool,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
in,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
tread,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
angel,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.472707,0.000000
mercy,0.219176,0.000000,0.603298,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000

In [282]:
wordSet

{'angel',
 'antony',
 'brutus',
 'caeser',
 'calpurnia',
 'cleopatra',
 'fear',
 'fool',
 'in',
 'mercy',
 'rush',
 'to',
 'tread',
 'where',
 'worser'}

In [284]:
#-----------applay Preprocessing for query ------------#
# make preprocessing for query 
query ="my name is fear"      
# query_tokens=[]
def Preprocessing(word):
    word =removePatterns(query)
    word = word_tokenize(word.lower())
#     word = remove_stop_words(word)    
    query_tokens=stemming_lemmitization(word)
    return query_tokens

query_tokens=Preprocessing(query)
print(query_tokens)

#------------------intersection with the document -------------#
intersectionDocument =[]
for token in query_tokens:
    
    try:
        temp=postional_index[token]
        for j in temp[1].keys():
            intersectionDocument.append(j)   
    except:
        continue
matchedDocument=sorted(set(intersectionDocument))
print(matchedDocument)
AllNormalizedTD_IDF=[TF_IDF_Norm0, TF_IDF_Norm1, TF_IDF_Norm2, TF_IDF_Norm3,
                     TF_IDF_Norm4, TF_IDF_Norm5, TF_IDF_Norm6, TF_IDF_Norm7,
                     TF_IDF_Norm8, TF_IDF_Norm9]
#------------------compute Tf for Query ------------------#
QueryDict = dict.fromkeys(wordSet, 0)
for word in wordSet:
    for token in query_tokens:
        if(token==word):
            QueryDict[word]+=1
# print(QueryDict)
#-----------------compute Tf-w for Query ----------------#
for word in wordSet:
    if(QueryDict[word]>0):
        QueryDict[word]=1+math.log(QueryDict[word],10)

#------------------compute TF_IDF for Query -------------#
def computeTF_IDF_query(QueryDict, idfs):
    tfidf = {}
    for word, val in QueryDict.items():
        tfidf[word] = val*idfs[word]
    return tfidf
TF_IDF_Query =computeTF_IDF_query(QueryDict,idfs)

query_length=Get_lenght_Document(TF_IDF_Query)

Normalize_TF_IDF_Query= Normalize_TF_IDF(TF_IDF_Query,query_length)



def score_Document(Normalize_TF_IDF_Query,TF_IDF_Norm):
    score=0;
    index=0;
    TF_IDF_Query =list(Normalize_TF_IDF_Query.values())
    TF_IDF =list(TF_IDF_Norm.values())
    for i in range(len(TF_IDF)):
        score+=TF_IDF_Query[i]*TF_IDF[i]
    
    return score
#-------------Rank the Document -----------#
Rank=[]
for i in matchedDocument:
    Rank.append(score_Document(Normalize_TF_IDF_Query,AllNormalizedTD_IDF[i]))
pd.DataFrame(Rank,columns =["Similarity"],index=matchedDocument)

['my', 'name', 'is', 'fear']
[6, 7, 9]

   Similarity
6    0.427365
7    0.427365
9    0.472707